<div id="jq-primaryContent" style="width:1132px">

  <h1>Editing static_page</h1>

  <%= render 'form' %>
  <p style="font-size:16px;">
    <%= link_to 'Show', @static_page %> |
    <%= link_to 'Back', static_pages_path %>
  </p>
</div>
