<div id="jq-interiorNavigation" style="width: 275px; min-height: 133.7em;">
<%#=link_to "Getting Started","#",:class=>"getting_started"%>
  <b><p width = "10px" style="height:20px;background-color:#788279;color:#D9E0F1;font-size:13px;text-align:center;padding-top:2px;margin :0 0 0.4em">API Methods</p></b>
  <%= api_method_show(@api, @api_methods) %>
</div>
