<div id="jq-primaryContent" style="width:867px; min-height: 133.7em;">
  <h1>Editing api_method</h1>

  <%= render 'form' %>
  <p style="font-size:16px;">
    <%= link_to 'Show', @api_method %> |
    <%= link_to 'Back', api_methods_path %>
  </p>
</div>