<div id="jq-primaryContent" style="width:867px; min-height: 133.7em;">
  <h1>Listing api_methods</h1>

  <table>
    <tr>
      <th style="font-size:16px;text-align:left;">Name</th>
    </tr>

    <%= method_lists(@api_methods) %>
  </table>

  <br />
  <p style="font-size:16px;">
    <%#= link_to 'New Api method', new_api_method_path %>
  </p>
