
<h1 class="page-title">Downloads</h1>
<br/>
<%=image_tag "/images/icon_bul.gif", :style=>"padding-left: 20px;"%>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "API Documentation(v1.0)",download_file_path(:file_name=>'api_documentation.pdf')%><br/><br/>
<%=image_tag "/images/icon_bul.gif", :style=>"padding-left: 20px;"%>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "Auth Documentation(v1.0)",download_file_path(:file_name=>'auth_documentation.pdf')%><br/><br/>

