<div id="jq-primaryContent" style="width:867px; min-height: 133.7em;">
  <h1 class="page-title" style="font-size:1.9em;text-align:center;">Downloads</h1>
  <br/>
  <div style="font-size:14px;">
    <%=image_tag "/images/icon_bul.gif", :style=>"padding-left: 20px;"%>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "API Documentation(v1.0)",download_file_path(:file_name=>'api_documentation.pdf')%><br/><br/>
    <%=image_tag "/images/icon_bul.gif", :style=>"padding-left: 20px;"%>&nbsp;&nbsp;&nbsp;&nbsp;<%=link_to "Auth Documentation(v1.0)",download_file_path(:file_name=>'auth_documentation.pdf')%><br/><br/>
  </div>
</div>
