<div id="jq-primaryContent" style="width:867px; min-height: 133.7em;">
  <h1>New api_list</h1>

  <%= render 'form' %>
  <p style="font-size:16px;">
    <%= link_to 'Back', api_lists_path %>
  </p>
</div>
